@import "navigatie.css";
@import "general.css";
.result:nth-child(even){
	float: right;
}
main{
	padding-top: 70px;
}
#filter{
	width: 100%;
	height: 60px;
	background-color: #f79838;
	display: flex;
	z-index: 2;
}
.filter-container{
	width: 100%;
	margin: auto;
	text-align: center;	
}
/**************************
*    Style voor selects   *
**************************/
select{
    padding: 5px;
    font-size: 12px; 
    height: 34px;
	border-radius: 0;
	border: 3px double #f79838;
	width: 280px;
	margin: 0px 10px;
	background-color: #fff;
	background-image: url('../images/assets/downArrow.svg');
	background-size: 29px;
	background-repeat: no-repeat;
	background-position: 100.3%;
	cursor: pointer;
	transition: 0.2s;
    overflow: auto;
}
select:hover{
	background-color: #F1F1F1;
	transition: 0.2s;
}

/************************************
*	   Default style van selects    *
*	verwijderen voor verschillende  *
*			  browsers              *
************************************/
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
/* For IE10 */
select::-ms-expand {
  display: none;
}
option:hover{
    background: #f79838;   
}
/***********************
* Confirm button style *
***********************/
#filterBevestiging{ 
	background-color: white;
	border: 3px double #f79838;
	padding: 6px 5px;
	width: 280px;
	transition: 0.2s;
}
#filterBevestiging:hover{ 
	background-color:#ffe5cc;
	cursor: pointer;
	transition: 0.2s;    
}
#filterBevestiging:hover span{ 
	padding-left: 50px;
	transition: 0.2s;
}

#filterBevestiging:active{ 
	background-color:#f79838;
	cursor: pointer;
	transition: 0.2s;
}
#filterBevestiging span{
	padding-left: 30px;
	vertical-align: 1px;
	transition: 0.2s;
}
/****************************
*  Mobiele navigatie style  *
****************************/
.sticky{
	position: fixed;
}
#mobileFilter{
	display: none;
}
/*******************************
* Intro banner met tekst style *
*******************************/
#orgs_banner{
	width: 100%;
	height: 480px;
	background: url("../images/org_banner.jpg");
	background-position: center ;
	background-size: cover;
	background-repeat: no-repeat; 
	display: flex;
	align-items: center;
	overflow: hidden;
}
.orgs_banner_tekst{
	background-color: rgba(255,255,255,0.80);
	width: 100%;
}
.orgs_banner_tekst h2{
	margin: auto;
	width: 100%;
	padding: 25px 0px;
	font-size: 2rem;
	font-weight: 400;
	text-align: center;
}
.orgs_banner_tekst p{
	width: 50%;
	margin: auto;
	font-size: 14px;
	padding-bottom: 30px;
	text-align: center;
}
.org_titel{
    font-weight: 700;
	margin-top: 20px;
}
/************************************
* Style voor lijst van organisaties *
************************************/
.orgsLijstContainer{
	margin: auto;
	width: 90%;;
}
#orgs_lijst {
	grid-column: col 2/ span 10;
}
/*logos*/
.organisatie picture{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	max-width: 200px;
	height: 200px;
    max-height: 100%;
    padding:0;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
}
.organisatie picture img{
    width: 100%;
}
.organisatie{
	display: inline-flex;
	width: 77%;
	padding: 25px 0;
}
.orRight{
	background-color: green;
}
.orLeft{
	background-color: red;
}
.organisatie .org_buttons{
	display: block;
}
.orgThumbnailTitle{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	display: inline;
}
.orgThumbnailTitle::after{
	content: '';
	width: 100%;
	height: 10px;
	background-color:#FFC181;
	display: inline-block;
	position: absolute;
	left:10px;
	top: 15px;
	z-index: -99;
}
.org_tekst{
	margin-left: 40px;
	vertical-align: middle;
}
/******************************
*	Geen criteria stijl 	  *
******************************/
#geenCriteria{
	display: none;
	grid-column: col 1 /span 12;
	text-align: center;
}
/******************************
*		Media queries 		  *
******************************/
@media only screen and (max-width:1150px){
	.filter-container{
		display: none;
	}
	#orgs_banner{
		margin-top: 0px;
	}
	#orgs_lijst {
		grid-column: col 2/ span 10;
	}
	.organisatie{
		margin-bottom: 50px;
		width: 100%;	
	}
	.organisatie:nth-child(2n+0){
	}
}
@media only screen and (max-width:880px){
	#orgs_lijst {
		grid-column: col 1/ span 12;
	}
}
@media only screen and (max-width:892px){
	#filter{	
		height: auto;	
	}
	.select-style{
		margin-top: 10px;
	}
	#filterBevestiging{
		margin:10px;
	}
}
@media only screen and (max-width:1193px){
/****************************
*  Mobiele navigatie style  *
****************************/
	.mobileFilterToggle{
		width: 100%;
		display: none;
	}
	#mobileFilter{
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 5px;
	}
	.filter-container{
		display: none;
	}
	.arrowBtn{
		text-align: center;
	}
	#filter{
		display: block;
		height: auto;
	}
	#filterBevestiging{
		margin-top: 10px;
	}
	/**************************
	* Filter pijl en animatie *
	**************************/
	.arrowBtn span{
		border: solid white;
		border-width: 0 9px 9px 0;
		display: inline-block;
		padding: 9px;
		transform: rotate(45deg);
	}
	.arrowBtn p{
		margin: 10px 0 0;
		color: white;
		font-weight: 600;
		transition: 0.4s;
	}
}
@media only screen and (max-width:1080px){
	.orgs_banner_tekst p{
		width: 70%;	
	}
	.organisatie{
		float: left;
	}
}
@media only screen and (max-width:731px){
	.org_titel{
		text-align: left;
        margin-bottom: 10%;
        font-weight: 700;
        padding-left: 4%;
        grid-column: col 1/ span 12;
	} 
	.organisatie{
		display: block;
	}
    .organisatie picture{
        width: 50%;
        height: 40%;
        margin: auto;
    }
	.organisatie picture img{
		width: 100%;
	}
	.org_tekst{
		display: block;
		width: 92%;
		margin-left: 0;
		margin:auto;
	}
	.organisatie .org_buttons{
		float: both;
		width: 100%;
		display: inline-flex;		
	}
	.org_buttons a{
		margin: 10px 10px;
		width: 50%;
		height: 50px;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
	}
	.org_buttons a span{
		display: none;
	}
}
@media only screen and (max-width:680px){
	.orgs_banner_tekst h2{
		padding: 25px 0px;
		font-size: 1.4rem;
	}
	.orgs_banner_tekst p{
		width: 90%;
	}
}
@media only screen and (max-width:444px){
	.select-style{
		width: 98%;
		margin-left: 0px;
		margin-right: 0px;
	}
}