<footer>
    <div class="mainContentWrapperFooter">
        <div class="footerContainer">
            <div class="footerContent">
                <section id="footerTitle">
                    <article>
                        <img src="/images/logoFooter.svg" alt="Logo Expertise als hefboom">
                    </article>
                    <article>
                        <p>Deze website is ontstaan vanuit een partnerschap binnen het Vlaams Welzijnsverbond tussen organisaties die zich richten tot bovenstaande doelgroepen.</p>
                    </article>
                </section>
                <section id="footerSitemap" class="footerColumn">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/organisaties=all&all&all">Onze organisaties</a></li>
                        <li><a href="/over-ons">Over Ons</a></li>
                        <li><a href="/getuigenissen">Getuigenissen</a></li>
                    </ul>
                </section>
                <setion id="footerGetuigenis" class="footerColumn">
                    <article class="footerGetuigenisContainer">

                    </article>
                    <div>
                        <a href="/getuigenissen">Lees meer...</a>
                    </div>
                </setion>
            </div>
            <p>Copyright &copy; 2020, Expertise als Hefboom</p>
        </div>
    </div>
    <script src="/js/footer.js" type="module"></script>
</footer>