<div class="getuigenisTitle">
    <h1 class="pageTitle">Getuigenis</h1>
    <h2><%= getuigenis.auteur%></h2>
</div>
<div class="getuigenisBody">
    <p><%= getuigenis.body%></p>
</div>

<section class="otherGetuigenissenContainer">
    <div class="otherGetuigenissenTitle">
        <h3>
            Meer getuigenissen
        </h3>
    </div>
    <div id="otherGetuigenissenWrapper">

    </div>
    <div class="alleGetuigenissenBtn">
        <div class="linkButton">
            <a href="/getuigenissen">Alle getuigenissen</a>
        </div>
    </div>
    
</section>

<style>
    @import url("/css/getuigenissen.css");
    @import url("/css/indivGetuigenis.css");
</style>
<script src="/js/getuigenissen.js" type="module"></script>
<script type="module">
    import {getuigenissenCall, pickRandomGetuigenissen} from '/js/getuigenissen.js'
    pickRandomGetuigenissen(document.getElementById('otherGetuigenissenWrapper'), 3, "<%= getuigenis.id %>")
</script>