 <!-- Navigatie-->
 <nav>	
    <div id="paginas">
        <ul id="desktopNav">
            <!-- Links naar pagina's-->
            <li><a href="/">home</a></li>
            <li><a href="/organisaties=all&all&all" >onze organisaties</a></li>
            <li><a href="/over-ons">over ons</a></li>
            <li><a href="/getuigenissen">getuigenissen</a></li>
        </ul>
        <div id="mobileNav">
            <ul >
                <!-- Links naar pagina's-->
                <li><a href="/">home</a></li>
                <li><a href="/organisaties=all&all&all">onze organisaties</a></li>
                <li><a href="/over-ons">over ons</a></li>
                <li><a href="/getuigenissen" >getuigenissen</a></li>
            </ul>
        </div>
        <!-- Mobile navigatie icoon -->
        <button class="mobileMenu" id="mobileMenuIcon">
            <span id="menuTopBar"></span>
            <span id="menuMiddleBar"></span>
            <span id="menuBottomBar"></span>
        </button>
    </div>
       <!-- jQuery code voor responsieve navigatie -->
       <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
       <script type="text/javascript" src="/js/mobileNav.js"></script>
</nav>