<style>
    @import url("/css/error.css");
</style>

<div class="mainContentWrapper">
    <h1 class="pageTitle">ERROR 404: <br> <span> Deze Pagina bestaat niet</span></h1>
    <div class="linkButton"><a href="/organisaties=all&all&all&redirected=false">Alle organisaties</a></div>
</div>