<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina niet gevonden</title>
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <link rel="stylesheet" type="text/css" href="css/error.css">
</head>
<body>
    <header>
        <%- include('partials/navigation'); %>
    </header>
    <main>
        <%- include('partials/centrum_niet_gevonden'); %>
       
    </main>
    <%- include('partials/footer'); %>
</body>
</html>