<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Over ons</title>
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <link rel="stylesheet" type="text/css" href="css/over-ons.css">
    <link rel="stylesheet" href="css/FAQ.css">
    
</head>

<body>
    <header>
        <%- include('partials/navigation'); %>
    </header>
    <main>
        <section class="aboutContainer">
            <div class="tekstWrapper">
                <h1 class="pageTitle">Welkom</h1>
                <p>Wij hebben de keuze gemaakt om ons te specialiseren in het zorglandschap.
                Een specialisatie die gebaseerd is op een jarenlange ervaring in het ondersteunen en begeleiden van minderjarigen en volwassenen met een beperking die:</p>
                <ul class="beperkingenLijst">
                    <li> <span class="icon"></span><span><b>Doof </b> of <b>slechthorend</b> zijn</span></li>
                    <li> <span class="icon"></span><span><b>Blind</b> of <b>slechtziend</b> zijn</span></li>
                    <li> <span class="icon"></span><span>Een <b>spraak-/ taalontwikkelingsstoornis</b > hebben</span></li>
                    <li> <span class="icon"></span><span>Een <b>cerebrale visuele inperking</b> hebben</span></li>
                    <li> <span class="icon"></span><span>Een <b>fysieke beperking</b> hebben</span> </li>
                    <li> <span class="icon"></span><span>Een <b>niet aangeboren hersenletsel</b> hebben</span></li>
                </ul>
        </div>
        </section>
        <section class="imageContainerRight">
            <div class="centerImageInContainer"></div>
        </section>
        <section class="moreTekstContainer">
            <div class="tekstWrapper">
                <p>Wij zijn ervan overtuigd dat specifieke kennis en expertise nodig is om ondersteuning te bieden die de kwaliteit van jouw leven verbetert.
                    Kwaliteitsvolle, tijdige informatie kan gaan over beeldvorming, begeleiding, hulpmiddelen, welbevinden, ontwikkeling ...
                       De kennis over omgaan met vragen bij
                       zien, horen of neuromotoriek
                       groeit aan een duizelingwekkende snelheid.</p>
       
                   <p>Je kan beroep doen op ons als zorgverstrekkers. Met de juiste kennis en ervaring werken we met jou en jouw verhaal en met andere hulpverleners samen om ondersteuning op maat te bieden.
                   Wij verbinden ons ertoe om onze kennis over zien, horen en neuromotoriek te blijven ontwikkelen en te delen. </p>
            </div>
        </section>
        <section class="imageContainerLeft">
            <div class="centerImageInContainer"></div>
        </section>
        <section id="container" class="faqContainer">
            <h2 class="pageTitle">FAQ</h2>
            <div class="faqContentWrapper">
                <div class="vragen">
                    <ul id="vragenContainer">

                    </ul>
                </div>
                <div class="antwoord">
                    <div class="answerWrapper">
                        <p id="antwoordContainer">

                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
	<%- include('partials/footer'); %>

    <script type="text/javascript" src="js/faq.js"></script>
    
</body>

</html>
