<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Over ons</title>
    <link rel="stylesheet" type="text/css" href="css/general.css">
    <link rel="stylesheet" type="text/css" href="css/over-ons.css">
    <link rel="stylesheet" href="css/FAQ.css">
    
</head>

<body>
    <header>
        <%- include('partials/navigation'); %>
    </header>
    <main>
        <section class="aboutContainer">
            <h2>Meer over ons</h2>
            <p>Welkom,
                Wij hebben de keuze gemaakt om ons te specialiseren in het zorglandschap.</p>

            <p>Een specialisatie die gebaseerd is op een jarenlange ervaring in het ondersteunen en begeleiden van minderjarigen en volwassenen met een beperking die</p>
            <ul>
                <li> Doof of slechthorend zijn </li>
                <li> Blind of slechtziend zijn </li>
                <li> Een spraak-/ taalontwikkelingsstoornis,</li>
                <li> Een (CVI) cerebrale visuele inperking,</li>
                <li> Een fysieke beperking,</li>
                <li> Een (NAH) niet aangeboren hersenletsel hebben.</li>
            </ul>
            <p>Wij zijn ervan overtuigd dat specifieke kennis en expertise nodig is om ondersteuning te bieden die de kwaliteit van jouw leven verbetert.</p>

            <p>Kwaliteitsvolle, tijdige informatie kan gaan over beeldvorming, begeleiding, hulpmiddelen, welbevinden, ontwikkeling ...</p>

            <p>De kennis over omgaan met vragen bij
                zien, horen of neuromotoriek
                groeit aan een duizelingwekkende snelheid.</p>

            <p>Je kan beroep doen op ons als zorgverstrekkers. Met de juiste kennis en ervaring werken we met jou en jouw verhaal en met andere hulpverleners samen om ondersteuning op maat te bieden.</p>

            <p>Wij verbinden ons ertoe om onze kennis over zien, horen en neuromotoriek te blijven ontwikkelen en te delen. </p>
        </section>
        <section id="container" class="faqContainer">
            <h2>FAQ</h2>
            <div class="accordion" tabindex="0" >
                <div class ="vraag"><h2>Kan ik vrijblijvend met de diensten contact opnemen voor meer informatie?</h2></div>
                <div class="antwoord">
                    <p class="single-text">Ja, je kan doorklikken naar websites en daar meer informatie vinden.
                    Er is steeds vrijblijvend contact mogelijk.
                    Stel uw vraag en er wordt samen met u gezocht naar het beste antwoord.</p> 
                </div>
            </div>
            <div class="accordion" tabindex="0">
                <div class ="vraag"><h2>Welke ondersteuning kan? </h2></div>
                <div class="antwoord">
                <p class="single-text">Dit kan zowel bij u thuis zijn, in uw omgeving als in de voorziening.</p>
                </div>
            </div>
            
            <div class="accordion" tabindex="0">
                <div class ="vraag"><h2>Kan je ook hulp inzetten in samenwerking met andere diensten?</h2></div>
                <div class="antwoord">
                <p class="single-text">Zeker en vast.</p>
                </div> 
            </div>
            <div class="accordion" tabindex="0">
                <div class ="vraag"><h2>Kan ik als dienst ook terecht bij jullie organisaties?</h2></div>
                <div class="antwoord">
                <p class="single-text">Ja zeker, neem contact op met de dienst we zoeken een antwoord, eventueel via outreach - vorming,…</p>
                </div>
            </div>
            
            <div class="accordion" tabindex="0">
                <div class ="vraag"><h2>Wat kost de ondersteuning bij jullie?</h2></div>
                <div class="antwoord">
                <p class="single-text">Dit hangt af van uw leeftijd, uw specifieke vraag  en het soort budget waarover u beschikt (PVB, budget RTH , verzekering, …).
                Meer info bij de organisatie van uw keuze en de op de website van het VAPH.</p>
                </div>
            </div>
            
            <div class="accordion" tabindex="0">
                <div class ="vraag"><h2>Kan ik bij deze organisaties terecht met vragen in verband met hulpmiddelen?</h2></div>
                <div class="antwoord">
                <p class="single-text">Jazeker</p>
                </div>
            </div>
        </section>
    </main>
	<%- include('partials/footer'); %>
    <!-- Inladen van jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="js/faq.js"></script>
    
</body>

</html>
