@import "navigatie.css";
@import "main.css";


.result:nth-child(even){
	float: right;
}
main{
	padding-top: 70px;
}
#filter{
	width: 100%;
	height: 60px;
	background-color: #f79838;
	display: flex;
	z-index: 2;
}
.filter-container{
	width: 100%;
	margin: auto;
	text-align: center;	
	display: flex;
	justify-content: center;
}
/**************************
*    Style voor selects   *
**************************/
select{
    padding: 5px;
    font-size: 12px; 
    height: 40px;
	border-radius: 0;
	border: none;
	width: 280px;
	margin: 0px 10px;
	cursor: pointer;
	transition: 0.2s;
	overflow: auto;
	position: relative;
	background-image: url(/images/assets/arrow.svg);
	background-repeat: no-repeat;
	background-size: 5%;
	background-position: 95% 50%;
	text-transform: uppercase;
	font-weight: bold;
}
select:hover{
	transition: 0.2s;
	color: var(--darker-orange);
}select:focus{
	transition: 0.2s;
	color: var(--darker-orange);
}
select option{
	color: black;
	text-transform: none;
	font-weight: normal;
}
/************************************
*	   Default style van selects    *
*	verwijderen voor verschillende  *
*			  browsers              *
************************************/
select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}
/* For IE10 */
select::-ms-expand {
  display: none;
}
option:hover{
    background: #f79838;   
}
/***********************
* Confirm button style *
***********************/
#filterBevestiging{ 
	background-color: white;
	border: none;
	padding: 5.5px 5.5px;
	width: 20%;
	transition: 0.2s;
	height: 100%;
	max-width: 200px;
	min-height: 40px;
}
.filterBtnWrapper{
	display: grid;
	grid-template-columns: auto auto;
	font-weight: bold;
	text-transform: uppercase;
	color:var(--main-dark);
}.filterBtnWrapper span{
	justify-self: flex-start;
	margin-left: 10px;
}
#filterBevestiging:hover{ 
	background-color:var(--main-dark);
	cursor: pointer;
	transition: 0.2s;   
	color:var(--darker-orange); 
}
#filterBevestiging:hover div{ 
	color:var(--darker-orange); 
}
#filterBevestiging:focus{ 
	background-color:var(--main-dark);
	cursor: pointer;
	transition: 0.2s;   
	color:var(--darker-orange); 
}
#filterBevestiging:focus div{ 
	color:var(--darker-orange); 
}
.searchIcon{
	width: 20px;
	height: 20px;
	mask: url("/images/assets/search.svg")no-repeat center / contain;
	background-color: var(--main-dark);
	transform: rotate(90deg);
	justify-self: flex-end;
}#filterBevestiging:hover .searchIcon{
	background-color: var(--darker-orange);
}#filterBevestiging:focus .searchIcon{
	background-color: var(--darker-orange);
}
/****************************
*  Mobiele navigatie style  *
****************************/
#openFilterBtn{
display: none;
border: 0;
background-color: transparent;
}
/*******************************
* Intro banner met tekst style *
*******************************/
#orgsIntro{
	display: grid;
	grid-template-columns: 20% 10% 10% 20% 20% 20%;
	height: 500px;
}
.imageContainer{
	grid-column-start: 1;
	grid-column-end: 3;
	background-image: url(/images/headers/allOrgs.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
.orgsTekstContainer{
	grid-column-start: 3;
	grid-column-end: 6;
}
.orgsTekstWrapper{
	width: 80%;
	margin:auto;
}.orgsTekstWrapper h2{
	font-size: calc(100vw/35);
	line-height: calc(100vw/39);
	text-transform: uppercase;
	color: var(--main-dark);
}
.orgsTekstWrapper p{
	width: 70%;
}
/************************************
* Style voor lijst van organisaties *
************************************/
.orgsLijstContainer{
	margin: auto;
	width: 90%;;
}
#orgs_lijst {
	grid-column: col 2/ span 10;
}
/*logos*/
.organisatie picture{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 200px;
	max-width: 200px;
	height: 200px;
    max-height: 100%;
    padding:0;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
}
.organisatie picture img{
    width: 100%;
}
.organisatie{
	display: inline-flex;
	width: 77%;
	padding: 25px 0;
}
.orRight{
	background-color: green;
}
.orLeft{
	background-color: red;
}
.organisatie .org_buttons{
	display: block;
}
.orgThumbnailTitle{
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	display: inline;
}
.orgThumbnailTitle::after{
	content: '';
	width: 100%;
	height: 10px;
	background-color:#FFC181;
	display: inline-block;
	position: absolute;
	left:10px;
	top: 15px;
	z-index: -99;
}
.org_tekst{
	margin-left: 40px;
	vertical-align: middle;
}
/******************************
*	Geen criteria stijl 	  *
******************************/
#geenCriteria{
	display: none;
	grid-column: col 1 /span 12;
	text-align: center;
}
/******************************
*		Media queries 		  *
******************************/
@media only screen and (max-width:1450px){
	#orgsIntro{
		display: grid;
		grid-template-columns: 20% 10%  auto;
		height: 500px;
	}
	.orgsTekstWrapper h2{
		font-size: 3rem;
		line-height: 3rem;
		text-transform: uppercase;
		color: var(--main-dark);
	}
	.orgsTekstWrapper p{
		width: 90%;
	}
}
@media only screen and (max-width:1250px){
	#filterBevestiging{
	
		min-width: 40px;
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid var(--main-orange);
		width: max-content;
		height: max-content;
	}
	#filterBevestiging:hover{
		
		min-width: 40px;
		border-radius: 50%;
		border: 2px solid transparent;
		width: max-content;
		height: max-content;
	}	#filterBevestiging:focus{
		width: auto;
		min-width: 40px;
		border-radius: 50%;
		border: 2px solid transparent;
	}
	#filterBevestiging span{
		display: none;
	}
	.searchIcon{
		width: 20px;
		height: 20px;
		mask: url("/images/assets/search.svg")no-repeat center / contain;
		background-color: var(--main-dark);
		transform: rotate(90deg);
		justify-self: flex-end;
	}
}
@media only screen and (max-width:1150px){
	.filter-container{
		
	}
	#orgs_banner{
		margin-top: 0px;
	}
	#orgs_lijst {
		grid-column: col 2/ span 10;
	}
	.organisatie{
		margin-bottom: 50px;
		width: 100%;	
	}
	.organisatie:nth-child(2n+0){
	}
}

@media only screen and (max-width:1080px){
	.orgs_banner_tekst p{
		width: 70%;	
	}
	.organisatie{
		float: left;
	}
}@media only screen and (max-width:1000px){
	main{
		padding-top: 0px;
	}
	#filter{
		position: fixed;
		bottom: 0;
	}
	.filter-container{
		position: relative;
		align-items: center;
	}
	.select-style{
		width: 26%;
		margin:10px ;
	}
}
@media only screen and (max-width:892px){
	#filter{	
		height: auto;	
	}

}
@media only screen and (max-width:750px){
	#orgsIntro{
		display: grid;
		grid-template-columns:  auto;
		grid-template-rows: auto 200px;
		height: auto;
	}
	.orgsTekstContainer{
		grid-column-start: 1;
		grid-column-end: 2;

	}
	.orgsTekstContainer h2{
		font-size: calc(100vw/15);
		line-height: calc(100vw/15);
	}
	#orgsIntro .imageContainer{
		grid-row: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		height: 100%;
		background-position: center 70%;
	}
	#openFilterBtn{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		background-color: var(--darker-orange);
		width: 100%;
		position: absolute;
		top: -40px;
		cursor: pointer;
		transition: 0.2s ease;

	}
	#openFilterBtn:focus .searchIcon{
		background-color: var(--darker-orange);
	}
	#openFilterBtn:focus{
		background-color: var(--main-dark);
	}
	#openFilterBtn:hover.searchIcon{
		background-color: var(--darker-orange);
	}
	#openFilterBtn:hover{
		background-color: var(--main-dark);
	}
	#filter{
		transform: translateY(100%);
		transition: 0.2s ease;
	}
	.filter-container{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 10px;
		margin: 20px 0px;
	}
	.select-style{
		margin: auto;
		width: 100%;
		margin-top: 0px !important;
		min-width: 280px;
	}
	#filterBevestiging{
		width: max-content;
		height: max-content;
		margin: 0px;
		justify-self: center;
	}
}


@media only screen and (max-width:731px){
	.org_titel{
		text-align: left;
        margin-bottom: 10%;
        font-weight: 700;
        padding-left: 4%;
        grid-column: col 1/ span 12;
	} 
	.organisatie{
		display: block;
	}
    .organisatie picture{
        width: 50%;
        height: 40%;
        margin: 10px auto ;
    }
	.organisatie picture img{
		width: 100%;
	}
	.org_tekst{
		display: block;
		width: 92%;
		margin-left: 0;
		margin:auto;
	}
	.organisatie .org_buttons{
		float: both;
		width: 100%;
		display: inline-flex;		
	}
	.org_buttons a{
		margin: 10px 10px;
		width: 50%;
		height: 50px;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
	}
	.org_buttons a span{
		display: none;
	}
}
@media only screen and (max-width:680px){
	.orgs_banner_tekst h2{
		padding: 25px 0px;
		font-size: 1.4rem;
	}
	.orgs_banner_tekst p{
		width: 90%;
	}
}
@media only screen and (max-width:600px){
	.filter-container{
		display: flex;
		flex-direction: column;
	}
	.select-style{
		width: 98%;
		margin:auto
	}
	#filterBevestiging{
		margin:auto
	}
}