
body{
    margin-bottom: 350px;
    min-height: none;
}
footer{
    z-index: 0;
}
.mainContentWrapper{
    margin-top: 50px;
    max-width: 1280px;
    min-height: 100vh;
}
.centrumHeader{
    display: flex;
    margin-bottom: 50px;
}
.centrumHeader img{
    width: auto;
   
    height: 100px;
}
.centrumHeader h2{
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}
.centrumHeader div{
    position: relative;
}
.titleUnderline{
    height: 25px;
    width: 100%;
    background-color: #FFC181;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: -99;
}
.centrumInfo{
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    margin-bottom: 100px;
    min-height: 650px;
}
.centrumDetails{
    width: 80%;
    display: flex;
    flex-direction: column;  
}
.centrumDetails p {
    margin: 0;
}
.centrumDetails table{
    margin-top: 20px;
    padding: 0;
    width: 100%;
}
table tr{
    margin-bottom: 20px;
    border-bottom: 2px solid var(--main-orange);
    display: grid;
    grid-template-columns: auto auto;
}
table td:nth-child(1){
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}
.cBeschrijving{
    font-size: 16px;
}
.centrumImage{
    overflow: hidden;
    position: relative;
}
.centrumImage picture{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 3;
    width: 150px;
    padding: 5px 20px 5px 10px;
    background-color: white;

}
.centrumImage picture img{
    width: 100%;
}
.cImageContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}
.cImageContainer img{
    position: absolute;
    margin: auto;
    width: 100%;
}
.tableInfo{
   justify-self: flex-end;
   text-align: right;
}
.linkButton {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#iconsContainer{
    display:flex;
    align-items: center;
    gap: 20px;
}
#iconsList{
    display: flex;
    gap: 20px;
    margin: 2px;
}
#iconsList li {
    width: 50px;
    height: 50px;
    background-color: black;
    mask: url(/images/assets/home_icons/taal.svg) no-repeat center / contain;
}

/* Media queries /*/

@media only screen and (max-width: 1350px){
    .mainContentWrapper{
        max-width: 1080px;
        margin: auto;
    }
    .centrumInfo{
        margin: auto;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 20px;
        margin-bottom: 100px;
        min-height: 650px;
    }
    
}
@media only screen and (max-width: 1080px){
    .mainContentWrapper{
        max-width:900px;
        margin: auto;
    }
    .centrumInfo{
        margin: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 20px;
        margin-bottom: 100px;
        min-height: 650px;
    }
    .centrumDetails{
        width: 80%;
        display: flex;
        flex-direction: column;  
        margin: auto;
        margin-bottom: 50px;
    }
    .cImageContainer{
        height: 500px;
    }
    .linkButton a{
        padding: 20px;
    }
}
@media only screen and (max-width: 700px){
    .centrumHeader h2{
        font-size: 26px;
    }
    .titleUnderline{
        top: 20px;
        height: 15px;
    }
    table td{
        display: block;
        text-align: left;
    }
    table tr{
        margin-bottom: 20px;
        display: block;
        border-bottom: none;
    }
    td:nth-child(1){
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        border-bottom: 2px solid var(--main-orange);
    }
    .linkButton a{
        padding: 20px;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .cImageContainer img{
        height: 100%;
        width: auto;
    }
}
@media only screen and (max-width: 400px){
    .cBeschrijving{
        display: none;
    }
    .centrumHeader{
        margin-bottom: 0;
    }
    .titleUnderline{
        display: none;
    }
}