.faqContentWrapper{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    margin: 20px 0px; 
}

.vragen{
    grid-column: 1;
    background-color: var(--darker-orange);
}

.antwoord{
    grid-column: 2;
}

#vragenContainer li button{
    background: none;
    border: 0;
    position: relative;
    text-align: left;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 50px;
    width: 90%;
    z-index: 1;
    margin-left: 20px;
    cursor: pointer;
    border: 0;
    padding: 0;
}
#vragenContainer li button::before{
    background-color: var(--main-orange);
    height: 100%;
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: -1;
    width: 0%;
    transition: 0.2s ease-in-out;
    opacity: 0.5;
}
#vragenContainer li button:hover::before{
    width: 90%;
}
#vragenContainer li button:focus::before{
    width: 90%;
}
.activeQuestion::before{
    width: 90% !important;
}
.answerWrapper{
    display: flex;
    align-items: center;
    height: 100%;
}
#antwoordContainer{
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
}

