/*************
imports
*************/
@import url("navigatie.css");
@import url("footer.css");
@import "variables.css"; 

/*font*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i');
html{
	scroll-behavior: smooth;
}
*{
    font-family: 'Open Sans', sans-serif;
}
body{
	margin-bottom: 350px;
	width: 100%;
}
main{
	margin-top: 58px;
	background: white;
	position: relative;
	z-index: 1;
}
.mainContentWrapper{
	max-width: var(--max-width);
	margin: auto;
}
ul{
    list-style: none;
    padding: 0;
}
/*grid*/
   
.linkButton{
	vertical-align: top;
	width: 100%;
	cursor: pointer;
}
.linkButton a{
	display:block;
	text-decoration: none;
	text-align: center;
	color: white;
	background-color: #f79838;
	border: 0;
	font-size: 12px;
	padding: 3px 10px;
	transition: 0.2s;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	
}
.linkButton a:hover{
	background-color: var(--main-dark);
	color:var(--darker-orange);
	transition: 0.2s;
	cursor: pointer;
}
.linkButton a:focus{
	background-color: var(--main-dark);
	color:var(--darker-orange);
}
.linkButton span{
	padding-left: 10px;
	vertical-align: 1px;
	transition: 0.2s
}
.pageTitle{
	text-align: center;
    font-size: calc(100vw/27);
    line-height: calc(100vw/29);
    font-weight: bold;
    color: var(--darker-orange);
    text-transform: uppercase;
    text-align: left;
	margin-bottom: 10px;
	margin-top: 20px ;
}

@media only screen and (max-width:1780px){
	.pageTitle{
		margin-top: 20px;
        font-size: calc(100vw/20);
        line-height: calc(100vw/24);
	}
}
@media only screen and (max-width: 1280px){
	.pageTitle{
		margin-top: 20px;
		font-size: 5rem;
        line-height: 4rem;
	}
}
@media only screen and (max-width: 800px){
	.pageTitle{
		margin-top: 20px;
		font-size: 4rem;
        line-height: 3rem;
	}
}
@media only screen and (max-width: 650px){
	.linkButton{
		display: flex;
		gap: 20px;
		justify-content: space-between;
		margin: auto;
	}
	.linkButton span{
		display: none;
	}
	.linkButton a {
		text-align: center;
		padding: 10px 0px ;
		margin-right: 0px;
	}
	.pageTitle{
		margin-top: 50px;
        font-size: calc(100vw/10);
        line-height: calc(100vw/10);
	}
}