#getuigenissenContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
#getuigenissenContainer article{
width: 30%;
min-width: 300px;
max-width: 30%;
}
#getuigenissenContainer article p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media only screen and (max-width: 1350px){
    #getuigenissenContainer{
       width: 80%;
       margin:auto;
    }

}