/**************************
*    disable scroll functie   *
**************************/
body {
   
}
/* intro */
#homeIntro{
        width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto;
        overflow: hidden;
}

.homeSlideShow{
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 7;
}
.homeSlideShow img{
    width: 100%;
    
}
.homeIntroTekst{
    grid-column: 2;
    width: 90%;
    margin: auto;
}
.homeIntroTekst h1{
    max-width: 720px;
}
.homeIntroTekst .linkButton{
    width: 60%;
}
.homeIntroTekst .linkButton a{
    display: block;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 1.5rem;
}

#getuigenisContainer{
    grid-column-start: 2;
    grid-column-end: 3;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    min-height: 400px;
}

#getuigenisContainer blockquote {
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    position: relative;
    margin-top: 40px;
    max-width: 720px;
}

#getuigenisContainer blockquote::before {
    content: '"';
    position: absolute;
    left: -50px;
    font-size: 6rem;
    top: -50px;
    color: var(--darker-orange);
}

.getuigenisInfoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 720px;
}

#getuigenisContainer .getuigenisInfo{
    font-weight: bold;
}
#getuigenisContainer .linkButton{
    width: 20%;
    min-width: 200px;
}
#getuigenisContainer .linkButton a{
    display: block;
    padding: 10px 10px;
    width: 100%;
    text-align: center;
}
.centerImageInContainer{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/images/headers/homepage/big.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/*Filter selectors*/
#homeFilterContainer{
    background-color: var(--darker-orange);

}
#homeFilterContainer h2 a{
    text-align: center;
    margin: auto;
    display: block;
    width: 100%;
}
.mainContentWrapper{
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 100px;
}
.filterTagLine h1{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    line-height: 4rem;
}
.filterTagLine a{
    color: var(--main-dark);
    position: relative;
    text-decoration: none;
    z-index: 99;
    transition: .1s ease-in-out;
    border: 2px solid var(--main-orange);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.filterTagLine a:hover{
    color: var(--darker-orange);
    background-color: var(--main-dark);
    border: 2px solid transparent;
}
.filterTagLine a:focus{
    color: var(--darker-orange);
    background-color: var(--main-dark);
    border: 2px solid transparent;
}
.filterLink h4 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin: 0;
}
.filterLink a{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px 20px 10px 20px;
    background-color: var(--darker-orange);
    font-size: 20px;
    
}
.filterLink:hover a h4::before{
    width: 100%;

}
.filterLink a:focus  h4::before{
    width: 100% !important;

}
.filterLink a div{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 20px;
}
.filterLink a div img{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.filterLink a h4::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 20px;
    background-color: white;
    bottom: -8px;
    left: 20px;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}

.homeIntroTekst h2{
    text-align: center;
    font-size: calc(100vw/55);
    font-weight: bold;
    color: var(--main-dark);
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}
@media only screen and (max-width: 1780px){
    
    
}
@media only screen and (max-width: 1570px){
    .homeIntroTekst .linkButton{
        width: 100%;
    }
    .homeIntroTekst .linkButton a{
        display: block;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
        font-size: 1.5rem;
    }
    
}
@media only screen and (max-width: 1280px){
    .mainContentWrapper{
        display: grid;
        grid-template-columns: auto auto;
        max-width: 900px;
    }
    #homeIntro{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        min-height: 100vh;
        
    }
    .homeSlideShow{
        grid-column: 1;
        grid-row: 2;
        height: 500px;
    }
    .centerImageInContainer{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(/images/headers/homepage/mediumBG.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .homeIntroTekst{
        grid-column-start: 1;
        grid-column-end: 3;
        width: 90%;
        margin: auto;
    }
    .homeIntroTekst h2{
        margin-top: 50px;
        font-size: calc(100vw/40);
    }
    #getuigenissenContainer{
        grid-row: 2;
        grid-column: 1;
    }
    #getuigenisContainer{
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 80%;
        margin: 40px auto;
    }
    .homeIntroTekst .linkButton a{
        display: block;
        text-align: center;
        width:50%;
        padding: 20px;
        margin: 50px auto;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 950px){
    #homeIntro{
        grid-template-columns: auto;
        grid-template-rows: auto 300px ;
        margin-top: 00px;
    }
    .homeSlideShow{
        grid-row: 2;
        height: auto;
    }
    .centerImageInContainer {
        display: block;
        height: auto;
        height: 100%;
        width: 100vw;
    }
    .homeIntroTekst{
        grid-row: 1;
        grid-column: 1;
        width: 90%;
        margin: auto;

    }
    .homeIntroTekst h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--main-dark);
        text-transform: uppercase;
        text-align: left;
        margin: 0;
        width: 80%;
    }
    .homeIntroTekst .linkButton a{
        font-size: calc(100vw/30);
        display: block;
        text-align: center;
        width:80%;
        padding: 20px;
        margin: 50px auto 0px;
    }
    #getuigenisContainer{
        display: none;
    }
    .mainContentWrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        max-width: 580px;
        gap: 50px;
    }
    .filterTagLine{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filterTagLine h1{
        margin: 20px 0 30px;
        font-size:  calc(100vw/16);
        line-height: calc(100vw/12);
        text-align: center;
    }
    #alleOrgsBtn{
        margin: auto;
        padding: 30px 50px;
    }
}
@media only screen and (max-width: 450px){
    #homeIntro{
        max-height: none;
        grid-template-columns: auto;
        grid-template-rows: auto 300px ;
    }
    .homeSlideShow{
        grid-row: 2;
    }
    .centerImageInContainer{
        display: block;
        width: 100%;
        height: 100%;
        background-image: url(/images/headers/homepage/phoneBG.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        max-height: 300px;
    }
    .homeIntroTekst{
        grid-row: 1;
        grid-column: 1;
        width: 90%;
        margin: auto;
    }
    .homeIntroTekst h2{
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--main-dark);
        text-transform: uppercase;
        text-align: left;
        margin: 0;
        width: 90%;
    }
    .homeIntroTekst .linkButton a{
        font-size: calc(100vw/30);
        display: block;
        text-align: center;
        width:80%;
        padding: 20px;
        margin: 50px auto 0px;
    }
    .homeIntroTekst #getuigenisContainer{
        display: none;
    }
    .mainContentWrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        max-width: 580px;
        gap: 50px;
    }
    .filterTagLine{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .filterTagLine h1{
        margin: 20px 0 30px;
        font-size:  calc(100vw/16);
        line-height: calc(100vw/12);
        text-align: center;
    }
    #alleOrgsBtn{
        margin: auto;
        padding: 30px 50px;
    }
}