body{
	/*Zorgt ervoor dat er geen witte randen zitten aan de kant van de website*/
	margin: 0;
}
header{
	position: fixed;
	overflow: hidden;
	border-bottom: 0.5px solid #f79838;
	width: 100%;
	margin: auto;
	font-family: 'Open sans';
	z-index: 99;
	
}
#logoNav{
	margin-left: 5%;
	margin-top: 5px;
}
/***********************************
* Logo en naam naast elkaar zetten *
***********************************/
/* #logoTableFix{
	max-height: 60px;
} */
#logoNav img,
#logoNav h1{
	display: table-cell;	
}
#paginas::before{
	margin: 0;
	padding: 0;
	content: '';
	display: inline-block;
	background-image: url('../images/logo.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	width: 200px;
	height: auto;
}
/***********************************
*			 Logo style 		   *
***********************************/
#logoNav img{
	height: 50px;	
	margin: 0;
}
/***********************************
*			 naam style 		   *
***********************************/
#logoNav h1{
	padding: 0 0 0 20px;
	vertical-align: middle;
	font-weight: 100;
}
#logoNav a{
	text-decoration: none;
	color: black;
	display: table;
}
/********************************************
* Logo/naam en pagina's naast elkaar zetten *
********************************************/
#paginas,
#logoNav{
	display: inline-block;
}
#paginas {
	display: flex;
	background-color: white;
}
#paginas ul{
	list-style-type: none;
	padding: 0;
	margin-left: 20px;
}
#paginas li{
	display: inline-block;
	vertical-align: middle;
    margin: 0px 20px 0px 0px;
}
#paginas li a{
	text-decoration: none;
	color: black;
}
.huidigePagina a{
	font-weight: 700;
}
#paginas li a:after {
  display:block;
  content: '';
  padding-top: 3px;
  border-bottom: solid 1px #f79838;  
  transform: scaleX(0);  
  transition: transform 300ms ease-in-out;
}
#paginas li a:hover:after { transform: scaleX(1); }
/*.hoogContrastKnop{
	margin-top: 15px;
	width: 30px;
	margin-left: 40px;
}*/
#mobileMenuIcon{
	display: none;
}

/******************************
* Mobile menu icon naar kruis *
***************************** */
.knopAnimatie1{
	transform: rotate(-45deg) translate(-9px, 6px);
	transition: 0.5s;
}
.knopAnimatie2{
	opacity: 0;
}
.knopAnimatie3{
	transform: rotate(45deg) translate(-8px, -8px);
	transition: 0.5s;
} 
.mobileMenu{
	display: inline-block;
}
.mobileMenu span{
	content:' ';
	display: block;
	height: 6px;
	width: 50px;
	background-color: black;
	margin-top: 10px;
}
/******************************
*		Media queries 		  *
******************************/
@media only screen and (max-width: 1193px){
	nav{
		margin: 0;
		box-shadow: 1px 0px 5px rgba(73, 72, 72, 0.425);
	}
	#mobileNav{
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 0;
	}
	#paginas ul{
		margin-left: 0px;
	}
	#paginas li{
		margin:0;
		width: 25%;
	}
	#paginas li a{
		display: block;
		text-align: center;
		width: 100%;
		border-left: orangered 1px solid;
		border-right: orangered 1px solid;
		padding: 15px 0px;
	}
	#paginas li a:after {
		display:none;
		
	  }
}
@media only screen and (max-width:755px){
	#paginas ul{
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		
	}
	#paginas li {
		width: 100%;
		
	}
	#paginas li a{
		text-align: right;
		padding-right: 20px;
	}
	.navContainer{
		display: flex;
		align-items: flex-end;
	}
	#mobileMenuIcon{
		display: block;
		z-index: 999;
	}

	#mobileNav{
		margin: 0;
		position: fixed;
		background-color: rgba(186, 77, 0, 0.9);
		width: 100%;
		height: 100vh;
		overflow: hidden;
		z-index: 999;
		display: none;
	}
	#mobileNav li{
		margin-top: 20px;
		text-align: right;
	}
	#paginas ul li a{
		color: white;
		font-size: 60px;
		
	}
	#paginas li a:after {
	  display:none;
	}

}

